.product{
    background-color: #f0f0f0;
}
.product .body-product-container {
    max-width: 70rem;
    padding: 25px 60px;
    background-color: #FFFFFF;
}
.header-product{
    background-image: url(../public/image/image-use-layout/products-header-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    min-height: 37.5rem;
    margin-top: 0px;
    margin-bottom: 0rem; 
}

@font-face {
    font-family: Open Sans;
    src: url(../font/font-open-sans/OpenSans-Regular.ttf);
}
.header-product .product-title{
    margin: 0%;
    padding: 15rem;
    color: #FFFFFF;
    font-family: Open Sans, Helvetica, cursive;
}
.header-product .product-title h1{
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 3rem;
}
.header-product .product-description{
    font-size: 0.95rem;
}
.header-product .product-description a{
    text-decoration: none;
    color: #FFFFFF;
}
.header-product .product-description a:hover{
    color: #542950;
}
.body-product *{
    box-sizing: border-box;
}
.body-product .part-wrap{
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    min-width: inherit;
    float: none;
}
.body-product .part-wrap .action-wrap{
    float: left;
}
.body-product a .filter-toggle > i{ 
    background: #53284f;
}

.body-product a.filter-toggle {
    font-size: 14px;
    color: #000;
    font-weight: 700;
    letter-spacing: 2px;
    background: #f0f0f0;
    position: relative;
    text-transform: uppercase;
    line-height: 36px;
    padding: 0 20px 0 60px;
    border-radius: 20px;
    display: inline-block;
}
.body-product .part-wrap:first-child {
    border: none;
    text-align: left;
}
.body-product .part-wrap {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    min-width: inherit;
    float: none;
    text-align: center;
}

.body-product .actions-wrap {
    float: left;
}
.body-product a{
    text-decoration: none;
}
.body-product a.filter-toggle > i {
    font-size: 18px;
    width: 50px;
    height: 50px;
    line-height: 52px;
    text-align: center;
    background-color: #53284f;
    display: inline-block;
    border-radius: 50%;
    left: 0;
    letter-spacing: 1px;
    top: 50%;
    position: absolute;
    color: #fff;
    font-weight: 100;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.body-product .toolbar-products.toolbar-top .part-wrap:last-child {
    text-align: right;
}
.body-product .toolbar-products .filter-ordering {
    float: right;
}
.body-product form.fami-woocommerce-ordering {
    background: url(assets/images/arr-drop.png);
    overflow: hidden;
    width: 200px;
    background-repeat: no-repeat;
    padding: 0;
    border: 1px solid #cfcfcf;
    background-position: calc(100% - 20px) center;
}
.body-product .fami-woocommerce-ordering select.orderby {
    width: calc(100% + 20px);
    border: none;
    padding: 0 0 0 20px;
    height: 40px;
    line-height: 40px;
    color: #868686;
}
.body-product .part-products-size-wrap {
    float: right;
    min-width: 110px;
    text-align: right;
    line-height: 42px;
}
.body-product .products-size a {
    color: #333333;
    text-decoration: none;
    transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    -webkit-transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
}
.body-product .products-size svg {
    -webkit-transition: .5s;
    transition: .5s;
    width: 18px;
    height: 18px;
    margin: 0 20px 0 0;
    display: inline-block;
    vertical-align: middle;
    stroke: #9f9f9f;
    stroke-width: 0;
    fill: #9f9f9f;
}
.prdctfltr_wc.prdctfltr_woocommerce.pf_default .prdctfltr_woocommerce_ordering {
    background: #fff;
    padding: 40px 45px 0;
    box-shadow: 0 3px 45px rgba(0, 0, 0, .06);
    margin: 15px 0px 35px;
}
.prdctfltr_wc.prdctfltr_woocommerce.pf_default .prdctfltr_woocommerce_ordering .container{
    margin: 0;
    padding: 0;
    width: 62.5rem;
}
